# true or false
WEBSOCKET_ENABLED=
# true or false
SIGNUPS_ALLOWED=
# Generate admin token with command: echo -n "MySecretPassword" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
ADMIN_TOKEN=
EXTERNAL_URL=

# OPTIONAL
BITWARDEN_DATA_FOLDER=
SUBNET_NUMBER=