# true or false
WEBSOCKET_ENABLED=
SIGNUPS_ALLOWED=
# Generate with command: echo -n "MySecretPassword" | argon2 "$(openssl rand -base64 32)" -e -id -k 65540 -t 3 -p 4
ADMIN_TOKEN=
BITWARDEN_DATA_FOLDER=
EXTERNAL_URL=
EXTERNAL_NETWORK_NAME=
BITWARDEN_IP=