services:
  bitwarden:
    image: vaultwarden/server
    container_name: bitwarden
    hostname: bitwarden
    ports:
      - ${EXTERNAL_PORT:-80}:80
    volumes:
      - data:/data
    environment:
      WEBSOCKET_ENABLED: "true" # Required to use websockets
      SIGNUPS_ALLOWED: "true" # set to false to disable signups
    networks:
      - net
    restart: always

volumes:
  data:
    name: bitwarden-data

networks:
  net:
    external: false
