services:
  bitwarden:
    image: vaultwarden/server
    container_name: bitwarden
    hostname: bitwarden
    volumes:
      - ${BITWARDEN_DATA_FOLDER:-./data}:/data
    environment:
      WEBSOCKET_ENABLED: "true" # Required to use websockets
      SIGNUPS_ALLOWED: "true" # set to false to disable signups
    restart: always
    networks:
      net:

networks:
  net: {}
